<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about/back_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{2,191},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>about/back_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{50,191},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>about/bigbang_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{184,2},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about/dots_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{184,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,180}</string>
                <key>spriteSourceSize</key>
                <string>{187,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{187,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>about/mow_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{294,2},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about/pixelcraft_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{404,2},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about/pixelcraft_ios.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{294,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about/risen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{404,112},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>about.png</string>
            <key>size</key>
            <string>{514,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1539353bf11e237a371a807bc7cba15d:a118c07db6111496d2187f94b25865a7:721447ffda4f3a63c6acc9c28506462c$</string>
            <key>textureFileName</key>
            <string>about.png</string>
        </dict>
    </dict>
</plist>
