<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gv/btn_get_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,159}</string>
                <key>spriteSourceSize</key>
                <string>{438,159}</string>
                <key>textureRect</key>
                <string>{{103,2},{438,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_get_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,159}</string>
                <key>spriteSourceSize</key>
                <string>{438,159}</string>
                <key>textureRect</key>
                <string>{{543,2},{438,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_moment_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{103,163},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_moment_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{891,299},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_qq_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{233,163},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_qq_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{823,299},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_qzone_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{363,163},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_qzone_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{863,163},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_wechat_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{493,163},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/btn_wechat_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{863,235},{74,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gv/gift_wording.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,99}</string>
                <key>spriteSourceSize</key>
                <string>{480,99}</string>
                <key>textureRect</key>
                <string>{{2,2},{404,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint/btn_moment_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{103,293},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_moment_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{223,293},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_qq_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{343,293},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_qq_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{463,293},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_qzone_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{583,293},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_qzone_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{623,163},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_wechat_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{703,283},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint/btn_wechat_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{743,163},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cn.png</string>
            <key>size</key>
            <string>{983,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ecb05681a023540e69526720a961c8:f67875734f55f19aaef699469d85b644:ef32bcfb331fcd9b758e5de94410d6ad$</string>
            <key>textureFileName</key>
            <string>cn.png</string>
        </dict>
    </dict>
</plist>
